/* Declaration of all fonts */

@font-face {
  font-family: "AlegreyaSansLight";
  src: url(../fonts/AlegreyaSans-Light.ttf) format('truetype'),
       url(../fonts/AlegreyaSans-Light.woff2) format('woff2');
}

@font-face {
  font-family: "AlegreyaSansRegular";
  src: url(../fonts/AlegreyaSans-Regular.ttf) format('truetype'),
       url(../fonts/AlegreyaSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: "MartelSansBold";
  src: url(../fonts/MartelSans-Bold.ttf) format('truetype'),
       url(../fonts/MartelSans-Bold.woff2) format('woff2');
}

@font-face {
  font-family: "NunitoMedium";
  src: url(../fonts/Nunito-Medium.ttf) format('truetype'),
       url(../fonts/Nunito-Medium.woff2) format('woff2');
}

@font-face {
  font-family: "NunitoRegular";
  src: url(../fonts/Nunito-Regular.ttf) format('truetype'),
       url(../fonts/Nunito-Regular.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayExtraLight";
  src: url(../fonts/Raleway-ExtraLight.ttf) format('truetype'),
       url(../fonts/Raleway-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayLight";
  src: url(../fonts/Raleway-Light.ttf) format('truetype'),
       url(../fonts/Raleway-Light.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayBlack";
  src: url(../fonts/Raleway-Black.ttf) format('truetype'),
       url(../fonts/Raleway-Black.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayBold";
  src: url(../fonts/Raleway-Bold.ttf) format('truetype'),
       url(../fonts/Raleway-Bold.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayExtraBold";
  src: url(../fonts/Raleway-ExtraBold.ttf) format('truetype'),
       url(../fonts/Raleway-ExtraBold.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayMedium";
  src: url(../fonts/Raleway-Medium.ttf) format('truetype'),
       url(../fonts/Raleway-Medium.woff2) format('woff2');
}

/* Basic styling of elements */

html,
body {
  /*font-family: Helvetica, sans-serif;*/
  font-size: 16px;
  margin: 0;
  background-color: white;
  width: 100%;
}

h1 {
  font-family: RalewayExtraBold;
  font-size: 4rem;
  color: #4c4c4c;
}

h2 {
  font-family: RalewayBold;
  font-size: 2rem;
  color: #4c4c4c;
}

h3 {
  font-family: NunitoRegular;
  font-size: 2rem;
  color: black;
}

p {
  font-family: RalewayExtraLight;
  font-size: 1.25rem;
  color: black;
}

a {
  font-family: RalewayLight;
  font-size: 1.25rem;
  color: black;
}

/* Header Section */

header {
  display: flex;
  width: 100%;
  height: 4rem;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0 0 0 1.5rem;
  vertical-align: center;
}

.logo {
  display: inline;
  height: 2.5rem;
  width: auto;
  margin: 0;
  padding: 0 0.25rem 0 0;
}

.brandName {
  display: inline;
  padding: 0;
}

.colmar {
  font-family: AlegreyaSansRegular;
  font-size: 2rem;
  color: black;
}

.academy {
  font-family: AlegreyaSansLight;
  font-size: 2rem;
  color: darkgrey;
}

nav {
  text-align: right;
  margin: 0 1.5rem 0 0;
}

nav a {
  text-decoration: none;
  margin: 0 0 0 1rem;
  padding: 0;
  color: black;
}

nav a:hover {
  border-bottom: 0.5px solid black;
}

/* Banner */

.banner {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50rem;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.sloganBox {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  height: 50rem;
  width: 33%;
  background-color: grey;
  opacity: 0.85;
  /*filter: blur(10px);*/
  z-index: 10;
  border: 1px solid yellow;
}

/*.bannerImg {
  display: inline;
  margin: 2rem 1.5rem;
  width: 60%;
  height: auto;
}

.slogan {
  display: inline-flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}*/

.sloganBox h1,
.sloganBox h2,
.sloganBox .button {
  display: block;
  margin: 2rem auto;
  border: 2px solid blue;
}

.button {
  width: 30%;
  padding: 0.5rem 0;
  margin: 0;
  background-color: grey;
  text-align: center;
}

.button p {
  color: white;
}*/
