/* Declaration of all fonts */

@font-face {
  font-family: "AlegreyaSansLight";
  src: url(../fonts/AlegreyaSans-Light.ttf) format('truetype'),
       url(../fonts/AlegreyaSans-Light.woff2) format('woff2');
}

@font-face {
  font-family: "AlegreyaSansRegular";
  src: url(../fonts/AlegreyaSans-Regular.ttf) format('truetype'),
       url(../fonts/AlegreyaSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: "MartelSansBold";
  src: url(../fonts/MartelSans-Bold.ttf) format('truetype'),
       url(../fonts/MartelSans-Bold.woff2) format('woff2');
}

@font-face {
  font-family: "NunitoMedium";
  src: url(../fonts/Nunito-Medium.ttf) format('truetype'),
       url(../fonts/Nunito-Medium.woff2) format('woff2');
}

@font-face {
  font-family: "NunitoRegular";
  src: url(../fonts/Nunito-Regular.ttf) format('truetype'),
       url(../fonts/Nunito-Regular.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayExtraLight";
  src: url(../fonts/Raleway-ExtraLight.ttf) format('truetype'),
       url(../fonts/Raleway-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayLight";
  src: url(../fonts/Raleway-Light.ttf) format('truetype'),
       url(../fonts/Raleway-Light.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayBlack";
  src: url(../fonts/Raleway-Black.ttf) format('truetype'),
       url(../fonts/Raleway-Black.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayBold";
  src: url(../fonts/Raleway-Bold.ttf) format('truetype'),
       url(../fonts/Raleway-Bold.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayExtraBold";
  src: url(../fonts/Raleway-ExtraBold.ttf) format('truetype'),
       url(../fonts/Raleway-ExtraBold.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayMedium";
  src: url(../fonts/Raleway-Medium.ttf) format('truetype'),
       url(../fonts/Raleway-Medium.woff2) format('woff2');
}

@font-face {
  font-family: "RalewayRegular";
  src: url(../fonts/Raleway-Regular.ttf) format('truetype'),
       url(../fonts/Raleway-Regular.woff2) format('woff2');
}

/* Basic styling of elements */

html,
body {
  /*font-family: Helvetica, sans-serif;*/
  font-size: 16px;
  margin: 0;
  background-color: white;
  width: 100%;
}

h1 {
  font-family: RalewayExtraBold;
  font-size: 4rem;
  color: #4c4c4c;
}

h2 {
  font-family: RalewayBold;
  font-size: 2rem;
  color: #4c4c4c;
}

h3 {
  font-family: RalewayBold;
  font-size: 1.5rem;
  color: #4c4c4c;
}

h4 {
  font-family: RalewayBold;
  font-size: 1.75rem;
  color: black;
}

p,
a {
  font-family: RalewayRegular;
  font-size: 1.25rem;
  color: black;
}

/* Header Section */

header {
  display: flex;
  width: 100%;
  height: 4rem;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid lightgrey;
}

.brand {
  display: flex;
  align-items: center;
  text-align: left;
  margin: 0 0 0 1.5rem;
  vertical-align: center;
}

.logo {
  display: inline;
  height: 2.5rem;
  width: auto;
  margin: 0;
  padding: 0 0.25rem 0 0;
}

.brandName {
  display: inline;
  padding: 0;
}

.colmar {
  font-family: AlegreyaSansRegular;
  font-size: 2rem;
  color: black;
}

.academy {
  font-family: AlegreyaSansLight;
  font-size: 2rem;
  color: darkgrey;
}

nav {
  text-align: right;
  margin: 0 1.5rem 0 0;
}

nav a {
  text-decoration: none;
  font-family: RalewayMedium;
  margin: 0 0 0 1rem;
  padding: 0;
  color: black;
}

nav a:hover {
  border-bottom: 0.5px solid black;
}

nav img {
  display: none;
}

@media only screen and (max-width: 800px) {
  nav a {
    display: none;
  }
  nav img {
    display: inline;
    margin: 0 2rem 0 1rem;
    padding: 0;
  }
  .academyLogo {
    display: none;
  }
}

@media only screen and (max-width: 600px){
  .brand {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  nav img,
  .academyLogo {
    display: inline;
    margin: 0;
    padding: 0;
  }
  header {
    justify-content: center;
  }
}

/* Banner */

.banner {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  /*height: 45rem;*/
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /*z-index: 0;*/
}

.phoneBanner {
  display: none;
}

.phoneSloganBox {
  display: none;
}

.desktopSloganBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  /*height: 45rem;*/
  width: 33%;
  background-color: grey;
  opacity: 0.75;
  /*z-index: 10;*/
  border: 1px solid red;
}

.slogan,
.latinSlogan {
  width: 80%;
  text-align: right;
  border: 1px solid blue;
}

.slogan {
  margin: 4rem 3rem 2rem 0;
}

.latinSlogan,
.button {
  margin: 0 3rem 4rem 0;
}

.learn {
  color: /*#ecd85d*/#fcb514;
  font-size: 6rem;
}

.slogan h1,
.latinSlogan h2 {
  line-height: 1.2;
  color: white;
}
.slogan h1 {
  font-size: 3.5rem;
}

.button {
  display: flex;
  width: 15rem;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  background-color: #fcb514;
}

.button a {
  font-family: RalewayMedium;
  font-size: 1.5rem;
  color: black;
}

.button:hover {
  background-color: hsl(52, 100%, 85%);
}

.button:active {
  background-color: #ECD000;
}

@media only screen and (max-width: 1200px) {
  .banner {
    align-items: flex-end;
    height: 50rem;
  }
  .desktopSloganBox {
    width: 100%;
    min-height: 45%;
    align-items: center;
  }
  .slogan,
  .latinSlogan {
    width: 95%;
    margin: 1rem auto;
  }
  .button {
    margin: 1rem auto;
    margin-bottom: 2rem;
  }
  .slogan h1 {
    font-size: 4rem;
  }
  .latinSlogan h2 {
    font-size: 2.5rem;
  }
  .learn {
    font-size: 5rem;
  }
  .slogan h1,
  .latinSlogan h2 {
    padding: 1rem 0;
    line-height: 1;
  }
}

@media only screen and (max-width: 480px) {
  .banner {
    display: none;
  }

  .phoneBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .phoneBannerImg {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }

  .desktopSloganBox {
    display: none;
  }

  .phoneSloganBox {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcb514;
    opacity: 0.75;
  }

  .phoneSloganBox .slogan,
  .phoneSloganBox .latinSlogan,
  .phoneSloganBox .button {
    width: 90%;
    text-align: left;
    padding: 0;
  }

  .phoneSloganBox .slogan,
  .phoneSloganBox .latinSlogan {
    margin: 0 auto;
  }

  .phoneSloganBox .slogan h1,
  .phoneSloganBox .slogan .learn {
    font-size: 2rem;
    color: white;
    line-height: 1.1;
  }

  .phoneSloganBox .latinSlogan h2 {
    font-size: 1.5rem;
    color: white;
    line-height: 1.1;
  }

  .phoneSloganBox .button {
    height: 2.5rem;
    background-color: white;
    margin: 1rem auto;
  }

  .phoneSloganBox .button:hover {
    background-color: lightgrey;
  }

  .phoneSloganBox .button a {
    font-size: 1rem;
    color: #4c4c4c;
  }

  .phoneSloganBox .button a:hover {
    font-family: RalewayBold;
  }
}

/* Main Information */
/* Renaming .main into pagesplitterSixtyForty */
.pagesplitterSixtyForty {
  display: flex;
  width: 100%;
  /*justify-content: space-between;
  align-content: flex-start;*/
  align-items: flex-start;
  border: 1px solid blue;
  /*margin-bottom: 0.5rem;*/
}

/* Renaming .motivate into sixtyPercent */
.sixtyPercent {
  display: inline-flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  /* justify-content is a new addition */
  justify-content: flex-start;
  margin: 0;
  border: 2px solid red;
}

/*.sixtyPercent .informationMain,
.sixtyPercent h2,
.sixtyPercent p {
  display: block;
}*/

.mediaMain {
  width: 95%;
  height: auto;
  /*margin: 2rem 0 1.5rem 0;*/
  margin: 1.5rem auto;
  border: 2px solid yellow;
}

.text {
  width: 95%;
  text-align: left;
  padding: 0;
  /*margin: 1.5rem auto;*/
  margin: 1.5 auto;
  border: 2px solid yellow;
}

.text h2 {
  padding-bottom: 1.5rem;
  font-size: 3rem;
}

.text .quote {
  font-size: 1.5rem;
  line-height: 1.4;
  padding: 0;
}

.source {
  font-size: 1rem;
  padding: 2rem 0;
}

/* Renaming .about into fortyPercent */
.fortyPercent {
  display: inline-flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  width: 40%;
  border-left: 0.5px solid grey;
  margin: 0;
  /*margin: 0.5rem 0;*/
  padding: 0 0.5rem;
  border: 2px solid green;
}

.featureBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
  margin-top: 0.5rem;
  padding-right: 1rem;
  border: 2px solid red;
}

.featureBox:hover {
  background-color: /*#FEFBE7*/#fcb514;
  border: 0.5px solid #fcb514;
}

.featureBox img {
  width: 35%;
  height: auto;
  padding: 1rem 1.5rem;
  border: 1px solid yellow;
}

.what {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid blue;
  width: 55%;
}

.what h4 {
  color: #4c4c4c;
}

.what p {
  font-family: RalewayRegular;
  /*font-size: 1rem;*/
  padding-top: 1.25rem;
  /*padding: 5% 0;*/
  display: block;
  line-height: 1.2;
}

.what a {
  padding-top: 1.25rem;
  text-decoration: none;
  color: #627aac;
  display: block;
}

.what a:hover {
  font-family: RalewayMedium;
  color: #3B5998;
}

@media only screen and (max-width: 1200px) {
  .pagesplitterSixtyForty {
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e4e4e4;
    padding: 1rem 0;
  }
  .sixtyPercent {
    display: flex;
    width: 80%;
    background-color: white;
    /*margin-top: 0.5rem;*/
  }
  .fortyPercent {
    display: flex;
    width: 80%;
    background: white;
    padding: 0;
    /*margin-bottom: 0.5rem;*/
  }
  .what h4 {
    font-size: 2rem;
    color: #4c4c4c;
  }
  .what p {
    /*padding: 2.5rem 0;*/
    font-size: 1.5rem;
  }
  /*.what a {
    padding: 0;
  }*/
}

@media only screen and (max-width: 680px) {
  .fortyPercent {
    align-items: center;
    padding: 1rem 0;
    background-color: #e9e9e9;
  }

  .featureBox {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-bottom: 0.5rem;
    background-color: white;
  }

  .featureBox img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
    padding: 0;
    margin: 0;
  }

  .what {
    width: 100%;
  }

  .what h4 {
    font-family: RalewayBold;
    font-size: 1.5rem;
    color: #4c4c4c;
    padding: 1rem 0 0 1rem;
  }

  .what p {
    font-size: 1.25rem;
    padding: 1rem 1rem;
  }

  .what a {
    font-size: 1rem;
    padding: 0 0 1rem 1rem;
  }

  /*.featureBox {
    transition: all 0.1s;
  }

  .featureBox:hover {
    transform: scale(1.025);
    box-shadow: 5px 5px 5px darkgrey;
    background-color: white;
  }*/
}

@media only screen and (max-width: 480px) {
  .motivate,
  .exhibitExamples {
    display: none;
  }

  .pagesplitterSixtyForty {
    margin-bottom: 2rem;
  }

  .fortyPercent,
  .sixtyPercent {
    width: 100%;
    align-items: center;
    padding: 1rem 0;
    background-color: #e9e9e9;
  }

  .featureBox {
    /*flex-direction: column;*/
    width: 90%;
    /*justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin-bottom: 0.5rem;
    background-color: white;*/
  }

  /*.featureBox img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
    padding: 0;
    margin: 0;
  }

  .what {
    width: 100%;
  }

  .what h4 {
    font-family: RalewayBold;
    font-size: 1.5rem;
    color: #4c4c4c;
    padding: 1rem 0 0 1rem;
  }

  .what p {
    font-size: 1.25rem;
    padding: 1rem 1rem;
  }

  .what a {
    font-size: 1rem;
    padding: 0 0 1rem 1rem;
  }*/

  .featureBox {
    transition: all 0.1s;
  }

  .featureBox:hover {
    transform: scale(1.025);
    box-shadow: 5px 5px 5px darkgrey;
    background-color: white;
  }
}

/* Courses */
.phoneCourseContainerBox {
  display: none;
}

.coursesSection {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #e4e4e4;
}

.coursesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border: 1px solid red;
}

.coursesContainer h1 {
  margin: 2.5rem 0 2rem 0;
}

.courseBoxContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  /*margin: 1rem 0;*/
  border: 1px solid blue;
  flex-flow: row wrap;
}

.courseBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0.5rem;
  border: 1px solid green;
  background-color: white;
  transition: all 0.1s;
  max-width: 31%;
  min-width: 16rem;
}

/*.rowOne,
.rowTwo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-bottom: 2rem;
  border: 1px solid blue;
}

.courseBox {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: flex-start;
  padding: 0;
  border: 1px solid green;
  background-color: white;
  transition: all 0.1s;
}*/

.courseBox:hover {
  transform: scale(1.1);
  box-shadow: 8px 8px 8px darkgrey;
}

.courseBox img {
  margin: 0;
  width: 100%;
  height: auto;
}

.courseDescription {
  padding: 0;
  margin: 1rem 1rem 1rem;
  border: 1px solid orange;
}

.courseDescription h3 {
  font-family: RalewayBold;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.courseDescription p {
  padding-top: 1rem;
  line-height: 1.2;
}

@media only screen and (max-width: 1050px) {
  .courseBox {
    max-width: 47.5%;
  }
}

@media only screen and (max-width: 920px) {
  .courseBox {
    max-width: 75%;
  }
}

@media only screen and (max-width: 680px) {
  .coursesContainer h1,
  .thesisExhibit h1 {
    font-size: 3rem;
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 480px) {
  .coursesSection {
    background-color: white;
  }

  .coursesContainer {
    width: 100%;
  }

  /*.coursesContainer h1 {
    font-size: 3rem;
    padding: 2rem 0;
  }*/

  .courseBoxContainer {
    display: none;
  }

  .phoneCourseContainerBox {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
  }

  .courseDropdown {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
    background-color: #e9e9e9;
    border: 1px solid black;
  }

  .courseDropdown span {
    font-family: RalewayBold;
    color: #4c4c4c;
    font-size: 1.5rem;
    padding: 2rem 0;
    border: 1px solid red;
  }

  .softwareEngineering {
    background-image: url(../images/course-software.jpg);
  }

  .computerArt {
    background-image: url(../images/course-computer-art.jpg);
  }

  .design {
    background-image: url(../images/course-design.jpg);
  }

  .data {
    background-image: url(../images/course-data.jpg);
  }

  .business {
    background-image: url(../images/course-business.jpg);
  }

  .marketing {
    background-image: url(../images/course-marketing.jpg);
  }

  .courseContent {
    display: none;
    position: relative;
    width: 100%;
    height: 12rem;
    padding: 0;
    margin: 0;
    background-size: cover;
    z-index: 1;
    border: 1px solid green;
  }

  .colorSheet {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #e9e9e9;
    opacity: 0.75;
  }

  .courseContent p {
    margin: 0;
    padding: 1rem 1rem;
    font-family: RalewayBold;
    font-size: 1.5rem;
    color: black;
    border: 1px solid blue;
  }

  .courseDropdown:hover .courseContent {
    display: block;
  }

  .courseDropdown:hover {
    background-color: #fcb514;
  }

}

@media only screen and (max-width: 380px) {
  .coursesContainer h1,
  .thesisExhibit h1 {
    font-size: 2.25rem;
    margin: 1.5rem 0;
  }
}

/*@media only screen and (max-width: 1000px) {
  .coursesContainer {
    width: 90%;
  }
  .rowOne,
  .rowTwo {
    flex-wrap: wrap;
    justify-content: center;
  }
  .courseBox {
    min-width: 16rem;
    margin: 1rem;
  }
}*/

/* Thesis exhibit */

.thesisExhibit {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid yellow;
}

.thesisExhibit h1 {
  margin: 2.5rem 0;
}

.sixtyPercent .text p {
  font-size: 1.25rem;
  line-height: 1.2;
  padding: 0.75rem 0 2rem 0;
}

@media only screen and (max-width: 480px) {
  /*.thesisExhibit h1 {
    font-size: 3rem;
    margin: 2rem;
  }*/

  .thesisVideoContainer {
    padding: 0;
    margin: 0;
  }

  .thesisVideo {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .thesisText {
    display: none;
  }
}
/*.sectionTitle {
  display: flex;
  padding: 0;
  margin: 2rem auto;
  justify-content: center;
  border: 1px solid green;
}*/

/*.exhibitsContainer {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
}*/

/*.videoContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 54%;
  margin-right: 0.75rem;
  border: 1px solid purple;
}*/

/*.sixtyPercent video {
  width: 95%;
  height: auto;*/
  /*margin: 2rem 0 1.5rem 0;*/
  /*margin: 1.5rem auto;
  border: 2px solid yellow;
}*/

/*.urban h3 {
  font-family: RalewayBold;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.text h2 {
  padding-bottom: 1.5rem;
  font-size: 3rem;
}

.urban p {
  line-height: 1.2;
}*/


/*.exhibitExamples {
  display: inline-flex;
  width: 36%;
  margin-left: 0.75rem;
  border: 1px solid brown;
  flex-direction: column;
  justify-content: flex-start;
}*/

/*.fisma,
.nowthen {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
}

.fisma img,
.nowthen img {
  width: 35%;
  height: auto;
  padding: 1rem 1.5rem;
}*/

/* Footer section */

footer {
  /*display: flex;
  justify-content: space-between;*/
  width: 100%;
  height: 20rem;
  background-image: url(../images/books.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid white;
  margin: 0;
  padding: 0;
}

.backgroundColor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0039AF;
  opacity: 0.75;
  margin: 0;
  padding: 0;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  border: 2px solid black;
  padding: 0;
}

.socialMedia .fa-facebook,
.socialMedia .fa-twitter,
.socialMedia .fa-instagram,
.socialMedia .fa-youtube {
  color: white;
  padding: 0 2rem;
}

.socialMedia .phone {
  display: none;
}

.terms {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}

.terms p,
.terms div {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: white;
}

.terms a {
  text-decoration: none;
  padding-left: 1rem;
  font-size: 1rem;
  color: white;
}

.terms a:hover {
  font-family: RalewayMedium;
}

@media only screen and (max-width: 600px) {
  footer {
    height: 12rem;
  }
  .socialMedia .desktop {
    display: none;
  }
  .socialMedia .phone {
    display: inline;
  }
  .socialMedia .fa-facebook,
  .socialMedia .fa-twitter,
  .socialMedia .fa-instagram,
  .socialMedia .fa-youtube {
    padding: 0 1rem;
  }
  .terms p,
  .terms a {
    font-size: 0.75rem;
  }
}
